.header-container {
    /*     display: flex;
    background-image: url('../../../public/assets/solar-panel-banner-2.jpg');
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    position: relative;
    width: 100%;
    height: 100vh;



}

.header-text-one {
    font-size: 100px !important;
}

.header-text-two {
    font-size: 2.1rem !important;
}

.ban-content {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 1000px !important;
    height: auto;

}

.css-uhb5lp {
    max-width: 1000px !important;
    height: auto !important;
}

@media only screen and (max-width: 600px) {


    .ban-content {
        top: 25%;
    }
}

@media only screen and (max-width: 500px) {

    .header-text-one {
        font-size: 50px !important;
    }

    .header-text-two {
        font-size: 1.5rem !important;
    }

    .video-solar {
        display: none;
    }

    .alternate-background {
        display: flex;
        background-color: #F5EED3;
        background-image: url('../../../public/assets/alternate.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        min-height: 700px;

        position: relative;

    }
}