#contact {
    background-color: #365194;
}

.contact-card {
    width: 500px;
    height: 525px;
}

.contact-info {
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin: 10px;
}

@media screen and (max-width: 1123px) {
    .contact-info {
        padding-top: 2rem;
        margin: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    .contact-card {
        width: 475px;
    }


}

@media screen and (max-width: 500px) {
    .contact-card {
        width: 350px;
    }
}